html * {
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, rgb(131, 137, 193), rgb(111, 117, 174));
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.shake {
  animation: shake ease .3s;
}
.rotate{
  animation: rotate linear 1s infinite;
}
.appear-down{
  animation: appear-down ease 0.6s;
}
.appear-up{
  animation: appear-up ease 0.6s;
}

@keyframes shake {

  from,
  40%,
  80% {
    transform: translate(-2px);
  }

  20%,
  60%,
  to {
    transform: translate(2px);
  }
}

@keyframes appear-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes appear-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}