html{
  perspective: 800px;
}
html, body{
  height: 100%;
  overflow: hidden;
}
body{
  margin: 0;
  background: linear-gradient(to bottom, rgb(131, 137, 193), rgb(111, 117, 174));
}

.clearfix::before,
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
