html, body{
  height: 100%;
}
body{
  overflow: hidden;
  margin: 0;
  background: linear-gradient(to bottom, rgb(131, 137, 193), rgb(111, 117, 174));
}

.clearfix::before,
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
